<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset id="field" border="1">
        Title : <input type="text" id="title"> <br>
        Category : <select name="cat" id="cat">
        </select> <br>
        Messege :<input type="textarea" id="messtege">
        <input type="button" name="submit" id="submit" value="submit">
    </fieldset>
    
<script src="../public/ContenetReq.js"></script>
</body>
</html>