<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/ContentReq.css">
</head>
<body>
    <div id="headPart"><a href="home.php">Home</a></div>
    <form action="">
        <legend>Submit your Request Here</legend>
        Title : <input type="text" id="title"> <br>
        Category : <select name="cat" id="cat">
                   </select> <br>
        Messege : <textarea id="messtege"></textarea> <br>
        <input type="button" name="submit" id="submit" value="submit">
    </form>
    
    <script src="../public/ContentReq.js"></script>
</body>
</html>